<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/mycss.css">
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link rel="stylesheet" href="/static/bootstrap-table.css">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-md ">
  <!-- Brand -->
  <a class="navbar-brand header-logo" href="{{url_for('index')}}"><img src="/static/picture/logo1.png" alt="logo"/></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav nav nav-pills" role="tablist">
      {% if current_user.authority == 'boss' %}
            <li class="nav-item">
        <a class="nav-link" href="{{url_for('boss')}}">用户管理</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('logs')}}">用户日志</a>
      </li>
        {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('edit_product')}}">商品管理</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('goods_import')}}">入库单管理</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{{url_for('goods_export')}}">出库单管理</a>
      </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('logout')}}">登出</a>
      </li>
    </ul>
  </div>
</nav>
        <h3>编辑出库单</h3>

        {% with messages=get_flashed_messages() %}
        {% if messages%}
            {% for message in messages%}
            <div class="alert alert-danger mb-3">
                {{ message }}
             </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
<form id="export-d" action="/e_details" method="POST">
                <input type="hidden" name="form_type" value={{ eid }}>
    <div class="row">
                <div class="col">
		<label for="ename" class="form-label">经手人：</label>
<input type="text" class="form-control" id="ename" name="ename" placeholder="经手人" value="{{ current_user.username }}" readonly>
	  </div>
                <div class="col">
		<label for="cname" class="form-label">客户名：</label>
		<input type="text" class="form-control" id="cname" name="cname" placeholder="客户名">
	  </div>
<div class="col">
		<label for="remarks" class="form-label">出库单备注：</label>
        <input type="text" class="form-control" id="remarks" name="remarks" placeholder="备注">
	  </div>
        </div>

	  <table class="table table-striped table-bordered mt-3">
						<thead>
							<tr>
								<th>商品名</th>
								<th>账面库存</th>
								<th>销售数量</th>
								<th>销售单价</th>
                                <th>销售金额</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><input type="text" class="form-control p-name" name="pname1"></td>
								<td><input type="text" class="form-control" disabled></td>
								<td><input type="text" class="form-control" pattern="\d+" name="pnum1"></td>
								<td><input type="text" class="form-control" pattern="\d+(\.\d+)?" name="pcost1"></td>
                                <td><input type="text" class="form-control" pattern="\d+(\.\d+)?"></td>
							</tr>
							<tr>
								<td><input type="text" class="form-control p-name" name="pname2"></td>
								<td><input type="text" class="form-control" disabled></td>
								<td><input type="text" class="form-control" pattern="\d+" name="pnum2"></td>
								<td><input type="text" class="form-control" pattern="\d+(\.\d+)?" name="pcost2"></td>
                                <td><input type="text" class="form-control" pattern="\d+(\.\d+)?"></td>
							</tr>
							<tr>
								<td><input type="text" class="form-control p-name" name="pname3"></td>
								<td><input type="text" class="form-control" disabled></td>
								<td><input type="text" class="form-control" pattern="\d+" name="pnum3"></td>
								<td><input type="text" class="form-control" pattern="\d+(\.\d+)?" name="pcost3"></td>
                                <td><input type="text" class="form-control" pattern="\d+(\.\d+)?"></td>
							</tr>
              <tr>
								<td><input type="text" class="form-control p-name" name="pname4"></td>
								<td><input type="text" class="form-control" disabled></td>
								<td><input type="text" class="form-control" pattern="\d+" name="pnum4"></td>
								<td><input type="text" class="form-control" pattern="\d+(\.\d+)?" name="pcost4"></td>
                                <td><input type="text" class="form-control" pattern="\d+(\.\d+)?"></td>
							</tr>
              <tr>
								<td><input type="text" class="form-control p-name" name="pname5"></td>
								<td><input type="text" class="form-control" disabled></td>
								<td><input type="text" class="form-control" pattern="\d+" name="pnum5"></td>
								<td><input type="text" class="form-control" pattern="\d+(\.\d+)?" name="pcost5"></td>
                                <td><input type="text" class="form-control" pattern="\d+(\.\d+)?"></td>
							</tr>
              <tr>
								<td><input type="text" class="form-control p-name" name="pname6"></td>
								<td><input type="text" class="form-control" disabled></td>
								<td><input type="text" class="form-control" pattern="\d+" name="pnum6"></td>
								<td><input type="text" class="form-control" pattern="\d+(\.\d+)?" name="pcost6"></td>
                                <td><input type="text" class="form-control" pattern="\d+(\.\d+)?"></td>
							</tr>
              <tr>
								<td><input type="text" class="form-control p-name" name="pname7"></td>
								<td><input type="text" class="form-control" disabled></td>
								<td><input type="text" class="form-control" pattern="\d+" name="pnum7"></td>
								<td><input type="text" class="form-control" pattern="\d+(\.\d+)?" name="pcost7"></td>
                                <td><input type="text" class="form-control" pattern="\d+(\.\d+)?"></td>
							</tr>
              <tr>
								<td><input type="text" class="form-control p-name" name="pname8"></td>
								<td><input type="text" class="form-control" disabled></td>
								<td><input type="text" class="form-control" pattern="\d+" name="pnum8"></td>
								<td><input type="text" class="form-control" pattern="\d+(\.\d+)?" name="pcost8"></td>
                                <td><input type="text" class="form-control" pattern="\d+(\.\d+)?"></td>
							</tr>
              <tr>
								<td><input type="text" class="form-control p-name" name="pname9"></td>
								<td><input type="text" class="form-control" disabled></td>
								<td><input type="text" class="form-control" pattern="\d+" name="pnum9"></td>
								<td><input type="text" class="form-control" pattern="\d+(\.\d+)?" name="pcost9"></td>
                                <td><input type="text" class="form-control" pattern="\d+(\.\d+)?"></td>
							</tr>
              <tr>
								<td><input type="text" class="form-control p-name" name="pname10"></td>
								<td><input type="text" class="form-control" disabled></td>
								<td><input type="text" class="form-control" pattern="\d+" name="pnum10"></td>
								<td><input type="text" class="form-control" pattern="\d+(\.\d+)?" name="pcost10"></td>
                                <td><input type="text" class="form-control" pattern="\d+(\.\d+)?"></td>
							</tr>
              <tr>
								<td><input type="text" class="form-control p-name" name="pname11"></td>
								<td><input type="text" class="form-control" disabled></td>
								<td><input type="text" class="form-control" pattern="\d+" name="pnum11"></td>
								<td><input type="text" class="form-control" pattern="\d+(\.\d+)?" name="pcost11"></td>
                                <td><input type="text" class="form-control" pattern="\d+(\.\d+)?"></td>
							</tr>
						</tbody>
					</table>
    <div class="price">
		总价格为：<p></p>
    </div>
    {% if eid %}
        {% if sh == "0"  %}
    <button type="submit" class="btn btn-primary" form="export-d" id="submit-add">审核</button>
  {% endif %}
{% else %}
  <button type="submit" class="btn btn-primary" form="export-d" id="submit-add">提交添加</button>
{% endif %}

	</form>
</div>

<div class="modal fade" id="choose_p">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- 模态框头部 -->
      <div class="modal-header">
        <h4 class="modal-title">选择</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <!-- 模态框内容 -->
      <div class="modal-body">
            <table class="table table-bordered table-striped"
                   id="ptable" data-toggle='table' data-pagination='true' data-page-list='[10, 25, 50]'>
</table>
      </div>
    </div>
  </div>
</div>
<script src="/static/jquery.min.js"></script>
<script src="/static/bootstrap.bundle.js"></script>
    <script src="/static/export.js"></script>
<script src="/static/bootstrap-table.js"></script>
</body>
</html>