<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户日志</title>
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link rel="stylesheet" href="/static/mycss.css">
<link rel="icon" href="/static/picture/logo1.png" type="image/x-icon">

</head>
<body>
    <div class="container">
    <nav class="navbar navbar-expand-md ">
  <!-- Brand -->
  <a class="navbar-brand header-logo" href="{{url_for('index')}}"><img src="/static/picture/logo1.png" alt="logo"/></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav nav nav-pills" role="tablist">
        {% if current_user.authority == 'boss' %}
            <li class="nav-item">
        <a class="nav-link" href="{{url_for('boss')}}">用户管理</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{{url_for('logs')}}">用户日志</a>
      </li>
        {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('edit_product')}}">商品管理</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{url_for('goods_import')}}">入库单管理</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('goods_export')}}">出库单管理</a>
      </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('logout')}}">登出</a>
      </li>
    </ul>
  </div>
</nav>
        <h3>用户日志</h3>

        {% with messages=get_flashed_messages() %}
  {% if messages %}
    <div id="flash-messages">
      {% for message in messages %}
        <div class="alert alert-danger">
          <strong>错误!</strong> {{ message }}
        </div>
      {% endfor %}
    </div>

  {% endif %}
{% endwith %}

<div class="row">
                <table class="table table-bordered text-center table-hover" id="log-list">
                    <thead>
                    <tr>
                        <th>用户名</th>
                        <th>时间</th>
                        <th>行为</th>
                    </tr>
                    </thead>
                    <tr>
                        <td colspan="3">暂无任何数据</td>
                    </tr>
                </table>
            </div>


    </div>

    <script src="/static/bootstrap.bundle.js"></script>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/logs.js"></script>
</body>
</html>
