<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑商品</title>
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link rel="stylesheet" href="/static/mycss.css">
<link rel="icon" href="/static/picture/logo1.png" type="image/x-icon">

</head>
<body>
    <div class="container">
    <nav class="navbar navbar-expand-md ">
  <!-- Brand -->
  <a class="navbar-brand header-logo" href="{{url_for('index')}}"><img src="/static/picture/logo1.png" alt="logo"/></a>
  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav nav nav-pills" role="tablist">
      {% if current_user.authority == 'boss' %}
            <li class="nav-item">
        <a class="nav-link" href="{{url_for('boss')}}">用户管理</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('logs')}}">用户日志</a>
      </li>
        {% endif %}
      <li class="nav-item">
        <a class="nav-link active" href="{{url_for('edit_product')}}">商品管理</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{url_for('goods_import')}}">入库单管理</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('goods_export')}}">出库单管理</a>
      </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('logout')}}">登出</a>
      </li>
    </ul>
  </div>
</nav>
        <h3>商品管理页面</h3>
        <div class="row mb-3">
          <div class="col">
            <button class="add-btn btn btn-xs btn-primary" data-bs-toggle="modal" data-bs-target="#add-product">添加</button>
          </div>
          <div class="col-10">
            <form>
              <div class="input-group">
                <label for="search-input"></label>
                <input type="text" class="form-control" id="search-input" placeholder="搜索">
                <button id="search-btn" class="btn btn-primary">搜索</button>
              </div>
            </form>
          </div>
        </div>
        {% with messages=get_flashed_messages() %}
            {% if messages%}
                {% for message in messages%}
                  <div class="alert alert-danger">
    <strong>错误!</strong> {{ message }}
  </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
<div class="row">
                <table class="table table-bordered text-center table-hover" id="product-list">
                    <thead>
                    <tr>
                        <th>产品名</th>
                        <th>标签</th>
                        <th>建议零售价</th>
                        <th>描述</th>
                        <th>图片</th>
                        <th>库存</th>
                        <th>成本单价</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tr>
                        <td colspan="8">暂无任何数据</td>
                    </tr>
                </table>
            </div>


    </div>
<div class="modal fade" id="edit-product">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- 模态框头部 -->
      <div class="modal-header">
        <h4 class="modal-title">编辑商品</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <!-- 模态框内容 -->
      <div class="modal-body">
        	<form id="product-edit" action="/editproducts" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="form_type" value="product-edit">
                <div class="mb-3">
		<label for="productname" class="form-label">商品名：</label>
		<input type="text" class="form-control" id="productname" name="productname" placeholder="商品名" readonly>
	  </div>
        <div class="mb-3">
		<label for="tag" class="form-label">标签：</label>
		<input type="text" class="form-control" id="tag" name="tag" placeholder="每个标签名用逗号隔开">
	  </div>
	  <div class="mb-3">
		<label for="suggest" class="form-label">建议零售价：</label>
		<input type="number" class="form-control" id="suggest" name="suggest" placeholder="建议零售价">
	  </div>
	  <div class="mb-3">
		<label for="describe" class="form-label">请输入描述：</label>
        <textarea class="form-control" rows="5" id="describe" name="describe"></textarea>
	  </div>
                <div class="mb-3">
        <label for="imageType">选择图片方式：</label>
        <div>
            <input type="radio" id="uploadOption" name="imageType" value="upload" checked>
            <label for="uploadOption">上传图片</label>
        </div>
        <div>
            <input type="radio" id="linkOption" name="imageType" value="link">
            <label for="linkOption">输入图片链接</label>
        </div>
    </div>

    <div class="mb-3 uploadSection">
        <label for="imageInput" class="form-label">选择图片</label>
        <input type="file" class="form-control" id="imageInput" name="imageInput" accept="image/jpeg, image/png">
    </div>
    <div class="mb-3 linkSection">
        <label for="imageLink" class="form-label">输入图片链接</label>
        <input type="url" class="form-control" id="imageLink" name="imageLink" placeholder="https://example.com/image.jpg">
    </div>

	</form>
      </div>

      <!-- 模态框底部 -->
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" form="product-edit" id="submit-edit">更改</button>
      </div>

    </div>
  </div>
</div>
    <div class="modal fade" id="add-product">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- 模态框头部 -->
      <div class="modal-header">
        <h4 class="modal-title">添加商品</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <!-- 模态框内容 -->
      <div class="modal-body">
        	<form id="product-add" action="/editproducts" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="form_type" value="product-add">
                <div class="mb-3">
		<label for="productname" class="form-label">商品名：</label>
		<input type="text" class="form-control" id="productname" name="productname" placeholder="商品名">
	  </div>
        <div class="mb-3">
		<label for="tag" class="form-label">标签：</label>
		<input type="text" class="form-control" id="tag" name="tag" placeholder="每个标签名用逗号隔开">
	  </div>
	  <div class="mb-3">
		<label for="suggest" class="form-label">建议零售价：</label>
		<input type="number" class="form-control" id="suggest" name="suggest" placeholder="建议零售价">
	  </div>
	  <div class="mb-3">
		<label for="describe" class="form-label">请输入描述：</label>
        <textarea class="form-control" rows="5" id="describe" name="describe"></textarea>
	  </div>
                <div class="mb-3">
        <label for="imageType">选择图片方式：</label>
        <div>
            <input type="radio" id="uploadOption" name="imageType" value="upload" checked>
            <label for="uploadOption">上传图片</label>
        </div>
        <div>
            <input type="radio" id="linkOption" name="imageType" value="link">
            <label for="linkOption">输入图片链接</label>
        </div>
    </div>

    <div class="mb-3 uploadSection">
        <label for="imageInput" class="form-label">选择图片</label>
        <input type="file" class="form-control" id="imageInput" name="imageInput" accept="image/jpeg, image/png">
    </div>
    <div class="mb-3 linkSection">
        <label for="imageLink" class="form-label">输入图片链接</label>
        <input type="url" class="form-control" id="imageLink" name="imageLink" placeholder="https://example.com/image.jpg">
    </div>

	</form>
      </div>

      <!-- 模态框底部 -->
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" form="product-add" id="submit-add">添加</button>
      </div>

    </div>
  </div>
</div>


    <script src="/static/bootstrap.bundle.js"></script>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/product.js"></script>
</body>
</html>
